numpy 
pandas
#use in face recognition
scikit-learn
#use to make rectangle on face 
# dilb
#ab face ka ek-ek distance niklna ab hm usko github ke source se download 
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


#ab database ke liye 
supabase  #data ko 1,2 gb dega jisko store krna h 

bcrypt
 #use for generating qr by giving link
 segno 
 #use ror importing image 
pillow
#use ror importing image 
streamlit  